.HeaderMain {
    display: flex;
    padding-top: 4rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.HeaderMain .pfp {
    display: flex;
    height: 15rem;
    width: 15rem;
}
.pfp img {
    height: 100%;
    width: 100%;
    min-height: 15rem;
    min-width: 15rem;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
.userinfo {
    display: flex;
    margin-left: 3rem;
    font-size: 2.4rem;
    flex-direction: column;
}
.userHandle {
    display: flex;
    align-items: center;
}
.userHandle,
.metrics,
.userinfo h4,
.userinfo p {
    margin-bottom: 1rem;
}
.followUser, .unfollowUser {
    border-color: rgba(var(--d69, 0, 149, 246), 1);
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
    padding: .7rem 1.5rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    outline: none;
}
.followUser:hover {
    background-color: #007df6;
    transform: translateY(.1rem);
}
.unfollowUser {
    background-color: red;
}
.unfollowUser:hover {
    background-color: #cc0000;
    transform: translateY(.1rem);
}
.metrics span {
    font-size: 2rem;
}
.s {
    margin: 3rem;
}
