.ppContainer {
    background-color: #fff;
    padding: 1rem;
    display: inline-block;
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    height: 20rem;
    width: 20rem;
    margin-bottom: 4rem;
}
.card {
    height: 100%;
    width: 100%;
}

.card figure {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
}

.ppContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card img,
.card figure::after {
    border-radius: 1rem;
    border-color: 5px solid silver;
}
figure::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1rem;
    z-index: -1;
    background-image: var(--image);
    background-size: cover;
    transform: scale(0.9, 1);
    filter: blur(1rem);
}

@media screen and (max-width: 900px) {
    .ppContainer {
        width: 15rem;
        height: 15rem;
    }
}
