@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://kit.fontawesome.com/a076d05399.js);

.appStore__buttonContainer {
    display: inline-block;
}
.appStore__button {
    background: rgb(21, 23, 24);
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    padding: 5px 0 0 4em;
    position: relative;
    text-align: left;
    transition: transform 0.25s, z-index 0s 0.25s;
    width: 17rem;
    z-index: 1;
    overflow: hidden;
}
.appStore__button:hover {
    transform: scale(1.2);
    transition: transform 0.25s;
    z-index: 2;
    background: rgb(21, 23, 24);
}
.appStore__button .appStore__icon {
    background: rgb(21, 23, 24);
    left: 0.7em;
    font-size: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.appStore__button p {
    font-size: 0.75rem;
    background: rgb(21, 23, 24);
    margin-bottom: -0.5em;
}
.appStore__button h1 {
    font-size: 1.5rem;
    background: rgb(21, 23, 24);
}
