.loginForm {
  width: 100%;
  background-color: #ffff;
}
.loginForm div {
  background-color: #ffff;
}
.login input[type="password"] {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.login input[type="text"] {
  margin-top: 3rem;
}
.loginForm__textField {
  width: 74%;
  padding: 1.2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 3.3rem;
  background-color: #FAFAFA;
  outline: none;
}
.loginForm__textField:focus {
  border: 1px solid #262626;
}
.loginForm__button {
  width: 80%;
  height: 3rem;
  margin-left: 3.3rem;
  border: 1px solid #ccc;
  background-color: dodgerblue;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: .6rem;
  outline:none;
  padding: .7rem;
}
.loginForm__button:hover {
  background-color: #007df6;
  transform: translateY(.1rem);
}
.errors {
  width: 100%;
  text-align: center;
}

.errors li {
  color: red;
  font-weight: 600;
}
