.DMcontainer {
    display: flex;
    /* grid-template-columns: 1fr 10rem; */
    border: 0.15rem solid black;
    border-radius: 0.15rem;
    height: 85rem;
    width: 90rem;
    position: absolute;
    top: 10%;
    left: 25%;
}
