@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  background:rgba(var(--d87,255,255,255),1);
  font-family: "Lato", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
}
* button {
    border: none;
    background: none;
}
